#extension-markbar, #extension-sidebar {
    all:initial;
    position: fixed;
    float: left;
    left: 0;
    height: 100%;
    z-index: 100000000;
    top: 0;
    display: none;
    overflow: auto;
    overflow-x: hidden;
}

#extension-markbar {
    width: 50px;
    background-color: rgba(194, 194, 194, 0.7);
}

#extension-indicator {
    all:initial;
    width: 21px;
    position: fixed;
    float: left;
    left: 0;
    height: 100%;
    z-index: 10000000;
    top: 0;
}

#extension-markbar img {
    right: 5px;
}

#extension-sidebar {
    width: 120px;
    background-color: rgba(194, 194, 194, 0.9);
}

#extension-sidebar img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

#extension-sidebar ul li:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#extension-sidebar ul li a:hover {
    color: black;
}

#extension-sidebar p {
    margin-bottom: 0;
    margin-top: 0;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial;
    color: black;
    cursor: pointer;
    word-wrap: break-word;
}

#extension-readIcon {
    all:initial;
    width: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 100000001;
}

.read-later-list {
    text-decoration: none;
    font-size: 15px;
    font-family: Arial;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px 0 0 0;
}

.read-later-list a {
    color: black;
    cursor: pointer;
}

.read-later-list li {
    margin: 10px 0;
    user-select: none;
    z-index: 100000000000;
}

.read-later-list button, .read-later-list button:hover {
    all:initial;
    background-color: rgba(255, 255, 255, 0.8);
    color:black;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: none;
    width: 100%;
    font-size: 14px;
    font-family: Arial;
    border-radius: 0;
    border: 1px solid black;
    margin-top: 3px;
}

.read-later-list button:hover {
    cursor: pointer;
    background-color: #ff8080;
}

